///////////////////////////
///////General Styles/////
/////////////////////////
.main-frame
	overflow: scroll

	img
		width: 100%

/////////////////////////////////////
///////UI View Animation Styles/////
///////////////////////////////////

.transitionFrame
	opacity: 1
	transition: $standard-animate

[ui-view].ng-enter, [ui-view].ng-leave
	transition: $standard-animate

[ui-view].ng-enter
	opacity: 0

[ui-view].ng-enter-active
	opacity: 1

[ui-view].ng-leave
	opacity: 1

[ui-view].ng-leave-active
	opacity: 0
